@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}

body {
  background: #FAF8EF;
  font-family: "Clear Sans";
  text-align: center;
}

div.board {
  width: 472px;
  height: 472px;
  background: #bbada0;
  margin: 0 auto;
  padding: 8px;
}

div.cell {
  width: 100px;
  height: 100px;
  border: 1px solid #FFF;
  border-radius: 10px;
  background: #3D2040;
  float: left;
  font-size: 24px;
  margin: 7px;
}

div.tile {
  color: #FF9F40;
  margin-top: 30px;
}
