@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}

@font-face {
  font-family: "StreetWise";
  src: url("/fonts/StreetwiseBuddy.ttf");
}

body {
  background: #FAF8EF;
  font-family: "Clear Sans";
  text-align: center;
}

div.top-container {
  width: 472px;
  height: 80px;
  margin: 100px auto 20px;
}

div.title {
  width: 236px;
  height: 80px;
  display: block;
  float: left;
  font-family: 'StreetWise';
}

div.title h1 {
  font-size: 60px;
  margin: 0;
}

div.dashboard {
  width: 236px;
  height: 80px;
  display: block;
  float: left;
}

.score-container,
.moves-container {
  width: 108px;
  height: 80px;
  border: 2px solid #A1283B;
  border-radius: 15px;
  display: block;
  float: left;
  margin-left: 10px
}

.score-container {
  background: #FFCF40;
}

.moves-container {
  background: #FF9F40;
}

.score-container h2,
.moves-container h2 {
  color: #FFF;
  font-size: 24px;
  margin: 10px auto 0;
}

.score-container h3,
.moves-container h3 {
  width: 100%;
  color: #FFF;
  font-size: 24px;
  margin-top: 0;
}


div.board {
  width: 472px;
  height: 472px;
  background: #A1283B;
  border-radius: 10px;
  margin: 0 auto;
  padding: 8px;
}

div.cell {
  width: 100px;
  height: 100px;
  border: 3px solid #FFF;
  border-radius: 10px;
  background: #6D7D8D;
  float: left;
  margin: 7px;
}

div.tile {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  color: #FFF;
  font-size: 24px;
  line-height: 90px;
}

button.reset {
  width: 472px;
  height: 60px;
  font-size: 24px;
  margin-top: 20px;
}
