body {
  text-align: center;
}


h1 {
  font-family: arial;
  font-size: 54px;
  color: #009ACE;
}

div.board {
  width: 500px;
  height: 500px;
  background: blue;
  display: inline-block;
  margin: auto 0;
  border: 10px solid red;
}

div.cell {
  height: 120px;
  width: 120px;
  background: yellow;
  border: 1px solid black;
  display: block;
  float: left;
}